@model product_qc_web.Models.TDelivery

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TDelivery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">成品別</label>
                <input disabled class="form-control" value="@ViewData["ProductName"]" />
            </div>
            <div class="form-group">
                @{ 
                    string qcFinishedTime = Model.QcFinishedTime.ToString("yyyy/MM/dd");
                }
                <label asp-for="QcFinishedTime" class="control-label"></label>
                <input disabled asp-for="@qcFinishedTime" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="WorkOrderNum" class="control-label"></label>
                <input disabled asp-for="WorkOrderNum" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MachineNum" class="control-label"></label>
                <input disabled asp-for="MachineNum" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DeliveryDestination" class="control-label"></label>
                <input asp-for="DeliveryDestination" class="form-control" />
                <span asp-validation-for="DeliveryDestination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExchangeReturnMalfunctionNote" class="control-label"></label>
                <input asp-for="ExchangeReturnMalfunctionNote" class="form-control" />
                <span asp-validation-for="ExchangeReturnMalfunctionNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
