@model product_qc_web.Models.TManufacture

@{
    ViewData["Title"] = "產品入庫";
}

<h2>產品入庫</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @if (ViewBag.SuccessCount != null)
            {
                <div class="alert alert-success" role="alert">
                    恭喜你！！已成功匯入 @ViewBag.SuccessCount 筆資料。
                </div>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductCode" class="control-label"></label>
                <select asp-for="ProductCode" class="form-control" asp-items="ViewBag.ProductCode"></select>
            </div>
            <div class="form-group">
                <label asp-for="QcFinishedTime" class="control-label"></label>
                <input asp-for="QcFinishedTime" class="form-control" value="@ViewBag.CurrentServerTime" />
                <span asp-validation-for="QcFinishedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkOrderNum" class="control-label"></label>
                <br />
                <span class="text-info">A510 - 1, A511 - 2, A520 - 3, A521 - 4</span>
                <input asp-for="WorkOrderNum" class="form-control" />
                <span asp-validation-for="WorkOrderNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MachineNumList" class="control-label"></label>
                <span class="text-danger">請以逗點分隔</span>
                <input asp-for="MachineNumList" class="form-control" />
                <span asp-validation-for="MachineNumList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="確定" class="btn btn-primary" />
            </div>
            @if (ViewBag.ErrorMsg != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.ErrorMsg
                </div>
            }
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
