<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 成品庫存與QC進度</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container bg-gold">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img src="~/img/Eboxicon64_w.png" width="64" height="64" alt="">
                    </a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="navbar-brand" asp-area="" asp-controller="TManufactures" asp-action="Create">
                            產品入庫
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - HEX Safety Inc.
        </div>
    </footer>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>
